.manageStudiosContainer {
  width: fit;
  min-height: 100vh;
  background-color: #e4ecf4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manageStudiosButtonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.studioListContainer {
  width: 100%;
}

.studioListHeader,
.customListItem {
  padding: 10px 0;
  width: 100%;
}

.studioListHeader {
  font-weight: bold;
  text-align: center;
  margin-left: 7.25%;

}

.customListItem {
  text-align: center;
}

@media (max-width: 768px) {
  .manageStudiosButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 0;
  }

}
